@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

.hero-heading {
  font-size: 40px;
  font-weight: 700;
  opacity: 0.8;
  margin-top: 60px;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-button {
  margin-top: 60px;
  margin-right: 60px;
  padding: 7px 35px;
  border-radius: 5px;
  border: 1px solid black;
}

.all {
  display: flex;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin-top: 55px;
  margin-left: 30px;
}

.footer-items {
  box-shadow: 1px 1px 5px black;
  width: 255px;
  height: 255px;
  margin-bottom: 30px;
  margin-left: 30px;
  list-style-type: none;
}

.footer-items-text {
  width: 240px;
  opacity: 0.9;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-size: 14px;
}

.like-div {
  display: flex;
  align-items: center;
}

.dislike {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.eye-div {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.footer-div {
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.footer-div-text {
  font-size: 15px;
}

.famous-img {
  width: 500px;
  height: 327px;
}

.famous-content {
  margin-top: 50px;
  width: 500px;
  box-shadow: 0 0 5px #000;
}

.famous-heading {
  margin-top: 15px;
  margin-left: 25px;
  font-size: 25px;
  opacity: 0.9;
}

.famous-name {
  margin-left: 35px;
  font-size: 23px;
  opacity: 0.9;
  margin-top: 10px;
}

.famous-little-img {
  background-color: grey;
  width: 22px;
  height: 24px;
  margin-left: 130px;
}

.famous-little-img1 {
  background-color: grey;
  width: 22px;
  height: 24px;
  margin-left: 20px;
}

.famous-div {
  display: flex;
  align-items: center;
}

.famous-text {
  opacity: 0.9;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 15px;
  width: 260px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin-top: 55px;
  margin-left: 30px;
}

.footer-items {
  box-shadow: 1px 1px 5px black;
  width: 255px;
  height: 255px;
  margin-bottom: 30px;
  margin-left: 30px;
  list-style-type: none;
}

.footer-items-text {
  width: 240px;
  opacity: 0.9;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-size: 14px;
}

.like-div {
  display: flex;
  align-items: center;
}

.dislike {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.eye-div {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.footer-div {
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.footer-div-text {
  font-size: 15px;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}/*# sourceMappingURL=main.css.map */