.famous-img {
     width: 500px;
     height: 327px;
}

.famous-content {
     margin-top: 50px;
     width: 500px;
     box-shadow: 0 0 5px #000;
}



.famous-heading {
    margin-top: 15px;
    margin-left: 25px;
    font-size:25px;
    opacity: 0.9;
}

.famous-name {
     margin-left: 35px;
     font-size: 23px;
     opacity: 0.9;
     margin-top: 10px;
}

.famous-little-img {
     background-color: grey;
     width: 22px;
     height: 24px;
     margin-left: 130px;
}

.famous-little-img1 {
    background-color: grey;
    width: 22px;
    height: 24px;
    margin-left: 20px;
}

.famous-div {
     display: flex;
     align-items: center;
}

.famous-text  {
    opacity: 0.9;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 15px;
    width: 260px;
}